body {
    background-color: #00D75F;
}

.logo {
    width: 50%;
}


* {
  .border-radius(0) !important;
}

#field {
    margin-bottom:20px;
}

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #222;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

#login{
   display: none; 
} 

#loggedin {
    display: none; 
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    
}

#column {
    padding-left: 0px;
    padding-right: 200px;
    border-radius: 10px;
    
}
#column2 {

    border-radius: 15px;
    
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.add_field_button {
    margin-bottom: 10px;
}

.remove_field {
    padding-left: 20px;
}

.playlists input {
    margin-bottom: 10px;
    width: 300px;
}

#app {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

#genre {
    margin-bottom: 10px;
}

